
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dddddd;
}
main{
    width: 100%;
}
header{
    width: 50%;
    background-color: rgb(56, 53, 53);
    text-align: center;
    color: white;
}
table{
    position: relative;
    width: 50%;
    background-color: white;
    border-collapse: collapse;

}
caption{
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
thead th{
    border: 1px solid black;
    position: sticky;
    top: 0;
    background-color: rgb(56, 53, 53);
    color: white;
    padding: 10px;
    
}
tbody td{
    border: 1px solid black;
    padding: 10px;
}
tbody tr:nth-child(even){
    background-color: rgb(175, 172, 172);
}
